body {
  /*background-color: #FBFDFE;*/
}
.cards-container {
  padding-top: 3em;
}
.card-style {
  position: relative;
  height: 100%;
  background: #fff;
  border: 1px solid #cdd4d9;
  box-shadow: 0 0 0 3px rgba(6,41,66,.05);
  padding: 15px 20px;
  border-radius: 5px;
}
.card-active{
  transition: all .2s ease-in-out;
}
.card-active:hover{
  border-color: #9ba9b3;
  cursor: pointer;
  transform: scale(1.03);
}

/* DELAYED CARD ANIMATION */
.card-style:nth-child(1) {
	-webkit-animation-delay: 0.6s;
}
.card-style:nth-child(2) {
    -webkit-animation-delay: 0.7s;
}
 .card-style:nth-child(3) {
    -webkit-animation-delay: 0.8s;
}
 .card-style:nth-child(4) {
    -webkit-animation-delay: 0.9s;
}
 .card-style:nth-child(5) {
    -webkit-animation-delay: 1s;
}
 .card-style:nth-child(6) {
    -webkit-animation-delay: 1.1s;
}

/* CARD ILLUSTRATION */
.circle {
	border-radius: 50%;
	width: 220px;
	height: 220px; 
	background: #e7f3fc; 
	margin: 0 auto;
}
.circle-1 {
	background: url('../img/card-01.jpg') center center;
    background-size: cover;
}
.circle-2{
/*  add img URL  */
}
.circle-3{
/*  add img URL  */
}
.circle-4{
/*  add img URL  */
}
.circle-5{
/*  add img URL  */
}

.step-number {
  position: absolute;
  top: 255px;
  text-align: center;
  opacity: 0.1;
  color: #0081E0;
  left:46%;
  z-index: 1;
  font-size: 60px;
  font-weight: 700;
} 

.step-title {
  text-align: center;
  color: #0D83DD;
  margin-top: 1.5em;
  margin-bottom: 1em;
  z-index: 50;
}

.sub-heading {
  font-size: 16px;
  color: rgba(6,41,66,0.5);
}
