

body {
	font-size: 16px;
	line-height: 1.5;
}


/* //type  */

.content p, .summary p, h3, h2, h1 {
	color:#ffffff;
	font-weight:300;
}

.sidebar {
	padding:20px 0;

}

.sidebar h3 {
	font-size:16px; 	
}

.sidebar p  {
	font-size:14px;
}

/* Layout */

.step {
	padding:16px 0;
	border-bottom:thin #cbcbcb dotted; 
/* 	margin:10px 0; */
}

