/*
Site URL: http://fluxr.github.io/
Description: Custom CSS styles
Version: 0.1 040816
Author: Emily Liu
*/


/*------Bootstrap Core Styles-------*/

@import "bootstrap.less";

/*------Custom Styles-------*/


/*----Variables------*/

@brand-primary: #0D83DD; //FreshBooks blue
@btn-default-bg: #fff;
@btn-default-color: @brand-primary;
@panel-bg: darken(@brand-primary, 10%);
@panel-border-radius: 0;
@panel-default-border: none;

/*----Global Styles------*/

body {
  background: @brand-primary;
}

// .container-fluid {
//   padding: 0;
// }


/*----Button Styles------*/

.btn-default {
  border: none;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.panel-body:hover {
  background: darken(@panel-bg, 10%)
}


/*----Homepage Styles------*/

// #header {
//   background: @brand-primary;
//   height: 60px;
//   padding: 15px;
// }
#home {
  .jumbotron {
    background: none;
    border-radius: 0;
    padding-bottom:1em;
    h1 {
      color: #fff;
    }
    p {
      color: lighten(@brand-primary, 40%);
    }
    .btn-lg {
      border-radius: 0;
      margin-right: 2em;
    }
  }
  // div.panel{display:table;}
  .panel {
    background: darken(@brand-primary, 10%);
    .box-shadow(0 0 0 rgba(0, 0, 0, 0));
    //display: ​table;
    height: 300px;
    .panel-body {
      color: #fff;
      display: table-cell;
      vertical-align: bottom;
    }
      &:hover {
    background: darken(@panel-bg, 10%)
  }

  }
}

.logo {
  background: url(https://www.dropbox.com/s/vv2uol48bfvx6hq/FLUXR-logo-white.png?dl=1) no-repeat;
  //margin: 3em 0;
  width: 265px;
  height: 88px;
  //.center-block();
}


/*----Generative Research Page Styles------*/

#generative {
  padding-top: 3em;
}
