/*
Site URL: http://fluxr.github.io/
Description: Custom CSS styles
Version: 0.1 040816
Author: Emily Liu
*/


/*------Bootstrap Core Styles-------*/

@import "bootstrap.less";

/*------Custom Styles-------*/


/*----Variables------*/

@brand-primary: #0D83DD: //FreshBooks blue
@brand-secondary: #AFD4F3; //FreshBooks light blue
@brand-background:#FBFDFE; //FreshBooks default white bg
@btn-default-bg: #87C331;
@btn-default-color: @brand-primary;
@panel-bg: darken(@brand-primary, 10%);
@panel-border-radius: 0;
@panel-default-border: none;


/*----Global Styles------*/

body {
  background: red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  font-family: "franklin-gothic-urw", sans-serif;
  color: #062942;
  list-style-type: none;
}

// .heading--1 {
//   font-size: 36px;
//   line-height: 36px;
//   margin-bottom: 24px;
//   margin-top: 48px; 
//   font-weight: 300;}

.subheading {
  opacity: 0.5;
  margin-bottom: 24px; }

.detail-steps p {
  font-size: 18px;
  line-height: 160%;
  /*padding-bottom: 40px;*/
  color: #586971;}

h3 {
  color: #0d83dd;
  font-size: 28px;
  font-size: 1.618rem;
  line-height: 34px;
  margin-top: 0;}

.panel--header {
  background: #e7f3fc;
  padding: 10px 0 40px 0;}

.panel-contents {
  margin: 0 auto;
  max-width: 530px;
  text-align: center;}

.sidebar a {
  color: @brand-primary !important;
}

/*----Button Styles------*/

.btn-default {
  border: none;
}

a {
  transition: all .2s ease-in-out;
  color: #0D83DD !important;
  &:hover {
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
  &:visited{
  opacity: 0.5;
  }
}

.panel-body:hover {
  background: darken(@panel-bg, 10%)
}
.no-pad {
  padding: 0 !important;}

.med-margin {
  margin-bottom: 2em;}

.nav-left {
  left: 0;}

.nav-elements {
  position: absolute;
  top: 0;}

a.back-link {
  float: left;
  padding: 26px 28px 21px 40px;
  width: auto;
  height: 100%;
  /*background: rgba(255,255,255,0.5);*/
  color: #72777a;
  font-size: 13px;
  font-weight: 600;}

.glyphicon {
  font-size: 30px;}
.logo {
  text-indent: -5000px;
  font-size: 0;
  display: inline-block;
  width: 301px;
  height: 84px;
  background: url("../img/logo.png");
  margin: 0 auto;}

/*----Homepage Styles------*/

// #header {
//   background: @brand-primary;
//   height: 60px;
//   padding: 15px;
// }
#home {
  .jumbotron {
    background: none;
    border-radius: 0;
    padding-bottom:1em;
    h1 {
      color: #fff;
    }
    p {
      color: lighten(@brand-primary, 40%);
    }
    .btn-lg {
      border-radius: 0;
      margin-right: 2em;
    }
  }
  // div.panel{display:table;}
  .panel {
    background: darken(@brand-primary, 10%);
    .box-shadow(0 0 0 rgba(0, 0, 0, 0));
    //display: ​table;
    height: 300px;
    .panel-body {
      color: #fff;
      display: table-cell;
      vertical-align: bottom;
    }
      &:hover {
    background: darken(@panel-bg, 10%)
  }

  }
}

/*----Cards Styles------*/
.cards-container {
  padding-top: 3em;
}
.card-padding {
  padding: 0.5em !important;
  transition: all .2s ease-in-out;
}
.card-style {
  position: relative;
  height: 100%;
  background: #fff;
  border: 1px solid #cdd4d9;
  box-shadow: 0 0 0 3px rgba(6,41,66,.05);
  padding: 1.5em;
  border-radius: 5px;
  margin-bottom: 0; 
  transition: all .2s ease-in-out;
}
.card-style:hover{
  border-color: #9ba9b3;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* DELAYED CARD ANIMATION */
.card-padding:nth-child(1) {
  -webkit-animation-delay: 0.6s;
}
.card-padding:nth-child(2) {
    -webkit-animation-delay: 0.7s;
}
 .card-padding:nth-child(3) {
    -webkit-animation-delay: 0.8s;
}
 .card-padding:nth-child(4) {
    -webkit-animation-delay: 0.9s;
}
 .card-padding:nth-child(5) {
    -webkit-animation-delay: 1s;
}
 .card-padding:nth-child(6) {
    -webkit-animation-delay: 1.1s;
}

/* CARD ILLUSTRATION */
.circle {
  border-radius: 50%;
  width: 220px;
  height: 220px; 
  background: #e7f3fc; 
  margin: 0 auto;
}
.circle-1 {
  background: url('../img/card-01.png') center center;
  background-size: cover;
}
.circle-2{
  background: url('../img/card-02.png') center center;
  background-size: cover;
}
.circle-3{
  background: url('../img/card-03.png') center center;
  background-size: cover;
}
.circle-4{
  background: url('../img/card-04.png') center center;
  background-size: cover;
}
.circle-5{
/*  add img URL  */
}
.circle-6{
/*  add img URL  */
}
.step-number {
  position: absolute;
  top: 300px;
  text-align: center;
  opacity: 0.1;
  color: #0081E0;
  left:46%;
  z-index: 1;
  font-size: 60px;
  font-weight: 700;
} 

.step-title {
  text-align: center;
  color: #0D83DD;
  margin-top: 1.5em;
  margin-bottom: 1em;
  z-index: 50;
}
.img-step {
  max-width: 600px;
}

.sub-heading {
  font-size: 16px;
  color: rgba(6,41,66,0.5);
  text-align: center;
}
.about-step {
  /*background: rgba(13,131,221,0.05);*/
  padding: 1em;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid rgba(6,41,65,0.20);
  box-shadow: 2px 2px 0px 0px rgba(6,41,65,0.07);
  margin-top: 2em;
}

/*----Sub page Styles------*/
.article-nav {
  /*border: 2px solid #cdd4d9;*/
  background: #e7f3fc;
  border-radius: 5px;
}
.article-nav ul {
  padding-left: 0 !important;
}
.article-nav li {
  line-height: 2.5;
  float: none;
  text-align: center;
  font-size: 15px;
  list-style: none;
  cursor: pointer;
}
.active{
    /*background: rgba(0,0,0,0.05);*/
    font-weight: 700;
}

.sidebar a {
  color: #0D83DD !important;
    transition: all .2s ease-in-out;
}
.selected { 
  color: red !important; 
  background: rgba(13,131,221,0.1);
  /*font-weight: 700;*/
  /*border-bottom: 4px solid red;*/
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.summary { 
	border:thin red solid;
}



@media (min-width: 979px) {
  .sidebar.affix-top {
    position: static;
    margin-top:30px; 
    width:228px;
  }
  
  .sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

.sidebar li.active {
    border:0 #eee solid;
    border-right-width: 2px;
}
.sidebar {
  z-index: 100;
}
#sidebar li.active {
    border: 0 #AFD4F3 solid;
    border-right-width: 5px;
    font-weight: 700;
    opacity: 1;
}

.nav-elements {
    position: absolute;
    top: 0;
}
.nav-left {
    left: 0;
}
.nav-stacked>li {
    float: none;
}
.nav>li {
    position: relative;
    display: block;
    opacity: 0.5;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #eee;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.who {
  list-style: none;
}
.who li {
  margin-left: -40px;
}
.who i {
  color: #0d83dd;
}

.footer {
  padding: 2em;
  background: #f5f6f7;
}
.footer h4 {
  font-weight: 700;
}
